body {
    margin: 0;
    font-family: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--gray-13);
    background-color: var(--white);
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  