/* =========================
   Display / Title
========================= */

.display-5 {
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: -0.6px;
  }
  
  .display-4 {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    letter-spacing: -0.6px;
  }
  
  .display-3 {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: -0.6px;
  }
  
  .display-2 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: -0.6px;
  }
  
  .display-1 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    letter-spacing: -0.6px;
  }
  
  /* =========================
     Headline / Subhead
  ========================= */
  
  .headline {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: -0.6px;
  }
  
  .subhead-3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: -0.6px;
  }
  
  .subhead-long-3 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: -0.6px;
  }
  
  .subhead-2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: -0.6px;
  }
  
  .subhead-long-2 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.6px;
  }
  
  .subhead-1 {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: -0.6px;
  }
  
  /* =========================
     Body
  ========================= */
  
  .body-2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.6px;
  }
  
  .body-long-2 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: -0.6px;
  }
  
  .body-1 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -0.6px;
  }
  
  .body-long-1 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.6px;
  }
  
  /* =========================
     Caption
  ========================= */
  
  .caption {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: -0.6px;
  }
  