:root {
    /* =========================
       Base
    ========================= */
    --black: #000000;
    --white: #ffffff;
  
    /* =========================
       Gray Scale
    ========================= */
    --gray-01: #fbfbfb;
    --gray-02: #f7f7f7;
    --gray-03: #f5f4f3;
    --gray-04: #efefef;
    --gray-05: #ececec;
    --gray-06: #dfdfdf;
    --gray-07: #c1c1c1;
    --gray-08: #a5a5a5;
    --gray-09: #8b8b8b;
    --gray-10: #6f6f6f;
    --gray-11: #555555;
    --gray-12: #3d3d3d;
    --gray-13: #333333;
    --gray-14: #242424;
    --gray-15: #171717;
  
    /* =========================
       Key Colors
    ========================= */
    --blue: #4285f4;
    --red: #ea4335;
    --yellow: #fbbc04;
    --green: #0f9d58;
  
    /* =========================
       Blue Foundation
    ========================= */
    --blue-50:  #ecf3fe;
    --blue-75:  #b2cdfa;
    --blue-100: #92b8f8;
    --blue-200: #6399f5;
    --blue-300: #4384f3;
    --blue-400: #2f5caa;
    --blue-500: #295194;
  
    /* =========================
       Yellow Foundation
    ========================= */
    --yellow-50:  #fff8e6;
    --yellow-75:  #fde499;
    --yellow-100: #fdd96e;
    --yellow-200: #fcc830;
    --yellow-300: #fbbd05;
    --yellow-400: #b08404;
    --yellow-500: #997303;
  
    /* =========================
       Red Foundation
    ========================= */
    --red-50:  #fdeceb;
    --red-75:  #f6b2ad;
    --red-100: #f3928a;
    --red-200: #ee6358;
    --red-300: #ea4336;
    --red-400: #a42f26;
    --red-500: #8f2921;
  
    /* =========================
       Green Foundation
    ========================= */
    --green-50:  #e7f5ee;
    --green-75:  #9bd7bb;
    --green-100: #71c69e;
    --green-200: #34ae74;
    --green-300: #0b9d58;
    --green-400: #086e3e;
    --green-500: #076036;
  }
  